body.a {
    background-color: #fcbc3f;
}

div.a {
    background-color: black;
}

div.p {
    display: inline-block;
    height: 150px;
    width: 150px;
}

div.t {
    display: inline-block;
    height: 150px;
    width: 150px;
}

div.c {
    display: inline-block;
    height: 150px;
    width: 150px;
}

div.y {
    background-color: black;
}

h3.a {
    color: orange;
}

img.a {
    position: relative;
    top: -120px;
}